<div class="keyboard-base">

    <!-- <div *ngFor="let item of keyMap | keyvalue: asIsOrder">
        <div class="key" [ngClass]="item.value">{{item.key}}</div>
    </div> -->
  
    <div class="key" [ngClass]="myMap['Q']">Q</div>
    <div class="key" [ngClass]="myMap['W']">W</div>
    <div class="key" [ngClass]="myMap['E']">E</div>
    <div class="key" [ngClass]="myMap['R']">R</div>
    <div class="key" [ngClass]="myMap['T']">T</div>
    <div class="key" [ngClass]="myMap['Y']">Y</div>
    <div class="key" [ngClass]="myMap['U']">U</div>
    <div class="key" [ngClass]="myMap['I']">I</div>
    <div class="key" [ngClass]="myMap['O']">O</div>
    <div class="key" [ngClass]="myMap['P']">P</div>

    <div class="spacer1"></div>
    <div class="key" [ngClass]="myMap['A']">A</div>
    <div class="key" [ngClass]="myMap['S']">S</div>
    <div class="key" [ngClass]="myMap['D']">D</div>
    <div class="key" [ngClass]="myMap['F']">F</div>
    <div class="key" [ngClass]="myMap['G']">G</div>
    <div class="key" [ngClass]="myMap['H']">H</div>
    <div class="key" [ngClass]="myMap['J']">J</div>
    <div class="key" [ngClass]="myMap['K']">K</div>
    <div class="key" [ngClass]="myMap['L']">L</div>

    <div class="key enter">Enter</div>
    <div class="key" [ngClass]="myMap['Z']">Z</div>
    <div class="key" [ngClass]="myMap['X']">X</div>
    <div class="key" [ngClass]="myMap['C']">C</div>
    <div class="key" [ngClass]="myMap['V']">V</div>
    <div class="key" [ngClass]="myMap['B']">B</div>
    <div class="key" [ngClass]="myMap['N']">N</div>
    <div class="key" [ngClass]="myMap['M']">M</div>
    <div class="key back">Back</div>

</div>