<div aria-live="polite" toastContainer></div>
<br><br><br><br>
<h1>My Wordle</h1>

<div *ngFor="let word of words">
  <app-word #appword [word]="word"></app-word>
</div>

<br>

<button (click)="resetGame()">Reset</button><br><br>

<span>Press '1' for answer: {{answerDisplayed}}</span><br>
<span>Word index: {{wordIndex}}</span><br>
<span>Letter index: {{letterIndex}}</span><br>
<span>Game state: {{gameService.gameState}}</span><br>

<br>

<app-keyboard #appkeyboard></app-keyboard>

<!-- <span *ngFor="let word of allWords">{{word}} </span> -->

<h1>end</h1>