h1 {
    font-family: "HelveticaNeue";
    font-size: 50px;
    text-align: center;
}

p {
    text-align: center;
}

.help-button {
    scale: 150%;
    padding-right: 30px;
    cursor: pointer;
}
.settings-button {
    scale: 150%;
    padding-left: 30px;
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
  }