.setting-item{
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.setting-label{
    padding-top: 3px;
}

.warning-msg{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.warning-icon{
    padding-right: 5px;
}

