
<a> 
<h1 mat-dialog-title>SETTINGS</h1>

<div mat-dialog-content>

<mat-divider></mat-divider>

<div class="setting-item">
  <span class="setting-label">Hard mode</span>
  <mat-slide-toggle color="primary" class="setting-toggle" [(ngModel)]="settingsData.hardMode"></mat-slide-toggle>
</div>

<mat-divider></mat-divider>

<div class="setting-item">
  <span class="setting-label">Show answer</span>
  <mat-slide-toggle color="primary" class="setting-toggle" [(ngModel)]="settingsData.showAnswer"></mat-slide-toggle>
</div>

<mat-divider></mat-divider>

<!-- empty. just to put some space -->
<div class="setting-item"></div>

</div>