/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "HelveticaNeue";
    src: local("HelveticaNeue"), url(./assets/fonts/helveticaneue/HelveticaNeueBd.ttf) format("truetype");
}

h1 {
    font-family: "HelveticaNeue";
    font-size: 50px;
    text-align: center;
}

.toast-container{
    font-family: "Arial";
}

.toast-top-center {
    padding-top: 50px;
}